.header {
    width: 100%;
    height: 10%;   
    background-color: rgb(178, 165, 190);
    font-style: italic;
}
.main {
    width: 100%;
    height: 80%;
    background-color: rgb(241, 192, 127);
    display: flex;
    flex-wrap: wrap;
}
.footer {
    width: 100%;
    height: 10%;
    background-color: rgb(178, 165, 190);
}
.photo {
    width: 10%;
    height: 10%;   
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }